*.smi filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
02[[:space:]]Docking[[:space:]]Pipeline/AutoDOCK[[:space:]]Pipeline/results/docking_results_ranked_1m.csv filter=lfs diff=lfs merge=lfs -text
